@font-face {
  font-family: "Poppins";
  src: local("PoppinsRegular"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Lexend";
  src: local("LexendRegular"),
    url("./assets/fonts/Lexend-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "MuseoModerno";
  src: local("MuseoModernoSemiBold"),
    url("./assets/fonts/MuseoModerno-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
