# Ignore dataset files
data/*
screenshots/*
model/notebooks/output/model_final.pth

# Ignore model files unless versioned with Git LFS
models/*

# Ignore Python cache files
__pycache__/
*.py[cod]
.ipynb_checkpoints/
